/** spinner loader**/
.load {
  width: 100%;
  display: flex;
  position: absolute;
  animation: blocHidden 4s cubic-bezier(0, 0.52, 0.99, 0.43);
}
.load__bar {
  background-image: url(./../css/assets/heart-solid.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70%;
  width: 80%;
  margin: 0 15px;
  animation: bars 4s cubic-bezier(0, 0.52, 0.99, 0.43);
  transition-duration: 4s;
  animation-duration: 4s;
}
@keyframes bars {
  0% {
    transform: scaleY(0.8);
  }
  20% {
    transform: scaleX(0);
  }
  40% {
    transform: scaleY(0.8);
  }
  60% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleY(0.8);
  }
  90% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0.8);
  }
}

@keyframes blocHidden {
  0% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: inherit;
    height: inherit;
  }
}
/** fin spinner loader**/
p {
  font-family: "Roboto";
}

h1 {
  padding: 20px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
}

/**** HEADER**/
.logo {
  width: max-content;
  margin: 0 auto;
}
.logo img {
  width: auto;
}

/****fin header **/
/****CONTAINER**/
#contain__research {
  width: 100%;
  height: 100%;
  animation: opacitySection 6000ms;
  transition-duration: 5s;
}
#contain__fonctionnalities {
  width: 100%;
  height: 100%;
  animation: opacitySection 6000ms;
  transition-duration: 5s;
}
#contain__restaurants {
  width: 100%;
  animation: opacitySection 6000ms;
  transition-duration: 5s;
}

@keyframes opacitySection {
  10% {
    opacity: 20%;
  }
  30% {
    opacity: 20%;
  }
  50% {
    opacity: 20%;
  }
  70% {
    opacity: 30%;
  }
  90% {
    opacity: 30%;
  }
  100% {
    opacity: 95%;
  }
}
/****fin container**/
/** RESEARCH **/
#contain__research {
  background-color: #efefef;
  width: 100%;
}

.blockMap {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  font-weight: bold;
  width: 50%;
  height: 50%;
}

.imgMap {
  display: flex;
  width: 25px;
  height: 30px;
  margin: 0 20px;
}
.imgMap p {
  color: #585757;
  font-size: 20px;
}
.imgMap img {
  width: 100%;
}

.reserveMeal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reserveMeal h1 {
  width: 50%;
  text-align: center;
  font-weight: 900;
}
.reserveMeal p {
  color: #636363;
  font-size: 1.1em;
  width: 70%;
  text-align: center;
  margin: 20px auto;
}
.reserveMeal .button {
  text-decoration: none;
  border-style: none;
  border-radius: 30px;
  padding: 20px;
  width: auto;
  height: 100%;
  color: white;
  font-size: 14px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 3px 2px 10px #808080;
  height: 60%;
  margin: 0 auto 45px auto;
}
.reserveMeal .button:hover {
  animation: changeColor 4s cubic-bezier(0.49, 0.32, 0.79, 0.65);
  box-shadow: 3px 5px 7px #313030;
  background: #FF79DA;
  box-shadow: 3px 5px 7px #313030;
}
@keyframes changeColor {
  0% {
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 3px 5px 7px #808080;
  }
  25% {
    background: linear-gradient(#ff7afd, #b661db);
    box-shadow: 3px 5px 7px #555454;
  }
  50% {
    background: linear-gradient(#ff7af2, #db6ddb);
    box-shadow: 3px 5px 7px #444343;
  }
  100% {
    background: linear-gradient(#ff7ae9, #ef74db);
    box-shadow: 3px 5px 7px #313030;
  }
}
.reserveMeal .button a {
  color: white;
  text-decoration: none;
}

/**FONCTIONNALITIES **/
#contain__fonctionnalities {
  width: 100%;
  margin: 50px auto;
}
#contain__fonctionnalities h2 {
  font-family: "Roboto";
  text-align: center;
}

.fonctionnalitiesActions {
  margin: 5px;
}

.fonctionnality {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 30px;
  border-style: none;
  box-shadow: 2px 2px 9px #8080808c;
  margin: 27px auto;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 80px;
  cursor: pointer;
}
.fonctionnality:hover {
  background-color: #ff79da38;
}
.fonctionnality:hover .imgFonctionnality__One {
  background-image: url("./../assets/icones/mobile-alt-solid-purple.png");
}
.fonctionnality:hover .imgFonctionnality__Two {
  background-image: url("./../assets/icones/list-solid-purple.png");
}
.fonctionnality:hover .imgFonctionnality__Three {
  background-image: url("./../assets/icones/store-solid-purple.png");
}
.fonctionnality p {
  font-size: 20px;
  font-weight: 600;
  margin: 0 20px;
  opacity: 1;
}

.numberFloat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
  position: relative;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px 25px 25px;
  background-color: #9356DC;
}
.numberFloat p {
  color: white;
}

.fonctionnalitiesActions {
  width: auto;
}
.fonctionnalitiesActions .imgFonctionnality__One {
  background-image: url("./../assets/icones/mobile-alt-solid.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.fonctionnalitiesActions .imgFonctionnality__Two {
  background-image: url("./../assets/icones/list-solid.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.fonctionnalitiesActions .imgFonctionnality__Three {
  background-image: url("./../assets/icones/store-solid.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

/** RESTAURANTS **/
#contain__restaurants {
  animation-fill-mode: both;
  width: 100%;
  margin: 50px auto 0px auto;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
#contain__restaurants h2 {
  font-family: "Roboto";
  margin-left: 15px;
  text-align: center;
  padding-top: 10px;
}

.allRestaurants {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant {
  height: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 9px #8080808c;
  border-style: none;
  margin: 30px;
  width: 30%;
}

.imgRestaurant {
  width: 100%;
  height: 70%;
  display: flex;
}
.imgRestaurant img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: inherit;
  object-fit: cover;
  order: 1;
}

.floatImage {
  position: relative;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 90px;
  top: 20px;
  height: 25px;
  background-color: #99E2D0;
  border-radius: 3px;
}
.floatImage p {
  font-size: 0.8em;
  color: #236f71;
  padding: 10px;
  font-weight: bold;
}

.moreInfo {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.moreInfo a {
  text-decoration: none;
  color: black;
  width: 65%;
}
.moreInfo a h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 3%;
  font-family: "Roboto";
}
.moreInfo a p {
  margin: 0 3% 3% 3%;
}
.moreInfo .likeIt {
  position: relative;
  bottom: 60%;
  right: 3%;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.moreInfo .likeIt .heart {
  width: 100%;
  height: 100%;
  background-image: url("../css/assets/heart-regular.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease-out;
}
.moreInfo .likeIt .heart:hover {
  animation: progressivColor 5s ease-in-out;
  background-image: url("../css/assets/heart-solid.png");
}
@keyframes progressivColor {
  0% {
    background-image: url("../css/assets/heart-regular.png");
    opacity: 100%;
  }
  25% {
    background-image: url("../css/assets/heart-regular.png");
    opacity: 25%;
  }
  50% {
    background-image: url("../css/assets/heart-solid.png");
    opacity: 25%;
    filter: contrast(0.2);
  }
  75% {
    background-image: url("../css/assets/heart-solid.png");
    opacity: 75%;
  }
  100% {
    background-image: url("../css/assets/heart-solid.png");
    opacity: 100%;
  }
}

/** FOOTER **/
footer {
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
}
footer p {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.logoBdWhite {
  width: 30%;
  height: 15%;
  padding: 20px;
  filter: invert(1);
  margin: 0 15px;
}

.actions {
  margin: 0;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.action img {
  width: 5%;
  margin: 0 5%;
  filter: invert(1);
}
.action p {
  font-weight: bold;
}

.informationsActions {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}
.informationsActions a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 5px 0;
  font-size: 16px;
  font-family: "Roboto";
}

@media (min-width: 680px) and (max-width: 1024px) {
  .load {
    width: auto;
  }

  .reserveMeal .button {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 30%;
  }

  .fonctionnality {
    width: 70%;
    margin: 10px auto;
  }
  .fonctionnality p {
    margin: 0 80px;
  }

  .allRestaurants {
    width: 100%;
  }

  .restaurant {
    width: 40%;
  }

  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 5px 0;
    font-size: 16px;
    font-family: "Roboto";
  }
}
@media (max-width: 680px) {
  header {
    margin-top: 20px;
  }

  .container {
    width: auto;
    left: 7%;
  }
  .container .load {
    left: 0;
    top: inherit;
  }

  .fonctionnalitiesActions {
    width: auto;
  }

  .logo {
    margin: 0 10px;
  }

  .reserveMeal h1 {
    width: auto;
    font-weight: bold;
    font-size: 1.3em;
  }
  .reserveMeal p {
    width: 100%;
    font-size: 1em;
  }
  .reserveMeal .button {
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
  }

  h2, h3 {
    text-transform: none;
    text-align: left;
    margin-top: 0;
    font-size: 1.5em;
    padding-top: 10%;
    margin-bottom: 0;
  }

  /**** HEADER**/
  .logo {
    width: unset;
  }
  .logo img {
    width: 50%;
    margin: 0 25%;
  }

  /** RESEARCH **/
  .blockMap {
    width: 100%;
    background-color: #eceaea;
  }
  .blockMap p {
    color: #636363;
  }

  .imgMap {
    width: 15px;
    height: 20px;
    margin: 0 10px;
  }
  .imgMap p {
    color: #585757;
  }
  .imgMap img {
    width: 100%;
  }

  .reserveMeal {
    margin: 0 5%;
  }
  .reserveMeal h1 {
    width: 95%;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .reserveMeal p {
    margin: 25px;
  }
  .reserveMeal .button {
    font-family: "Roboto";
  }

  /**FONCTIONNALITIES **/
  #contain__fonctionnalities {
    margin: inherit;
  }

  .fonctionnalitiesActions {
    width: auto;
  }
  .fonctionnalitiesActions .fonctionnality {
    width: 93%;
    height: 68px;
  }
  .fonctionnalitiesActions .fonctionnality p {
    font-size: 15px;
    font-weight: 900;
  }

  .numberFloat {
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 15px 15px 15px;
  }
  .numberFloat p {
    font-weight: 200;
  }

  .floatImage p {
    color: #2b9194;
    right: 95px;
  }

  /** RESTAURANTS **/
  .restaurant {
    margin: 10px 0;
    width: 100%;
    height: 100%;
  }
  .restaurant .moreInfo {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .restaurant .moreInfo a {
    width: 100%;
  }
  .restaurant .moreInfo a .textuel {
    width: 100%;
  }
  .restaurant .moreInfo a .textuel h3 {
    font-size: 1.1em;
  }
  .restaurant .moreInfo a .textuel p {
    margin: 0 3% 5% 3%;
    font-size: 0.9em;
  }
  .restaurant .moreInfo .likeIt {
    position: inherit;
  }
  .restaurant .moreInfo .likeIt .heart {
    position: relative;
    bottom: 65%;
    right: 65%;
  }

  .imgRestaurant {
    display: flex;
    height: 165px;
  }
  .imgRestaurant img {
    width: 100%;
    object-fit: cover;
  }

  /** FOOTER **/
  footer {
    display: inherit;
  }

  .logoBdWhite {
    padding: 15px;
  }
  .logoBdWhite img {
    width: 100%;
  }

  .actions {
    margin: 0 20px;
  }
  .actions .action img {
    width: 4.5%;
    margin: 0 5% 0 0;
  }
  .actions .action p {
    font-weight: normal;
    margin: 5px 0;
  }

  .informationsActions {
    display: block;
    padding-bottom: 10px;
    margin: 0 20px;
  }
  .informationsActions p {
    font-weight: normal;
    margin: 5px 0;
  }
  .informationsActions a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 5px 0;
    font-size: 19px;
  }

  .textuel h2 {
    font-weight: 800;
  }
}

/*# sourceMappingURL=style.css.map */
