$colorPrimary : #9356DC;
$colorSecondary: #FF79DA;
$colorTertiaire: #99E2D0;
//variables de couleur
@mixin marginValue {
    margin: auto 5%;
}
@mixin paddingValue {
    padding: 3%;
}
/**** BODY ****/
h2 {
    margin: 30px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: normal;
    margin-right: 20%;
    font-family: 'Roboto';
}
.divider {
    border-top: 2px solid #99E2D0;
    height: 3px;
    width: 10%; 
    margin: 10px;
}
h3 {
    padding: 0 5px 0 10px;
    font-family: 'Roboto';
}
p {
    font-family: 'Roboto';
}

/**** HEADER**/
.logo {
    width: 73%;
    display: flex;
    justify-content: space-around;
    .arrow {
        width: 40px;
        margin: 0 5%;
    }     
    img {
        width: auto;
    }
}

/**** MENU ****/
#menu {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.ensembleMenus {
    background-color: #f1f1f1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    bottom: 25px;
    padding-bottom: 0;
}
/** ENTREES **/
.imgEnTete {
    width: 15%;
    margin: 30px auto;
    transform: scaleX(1.5);
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.enTeteMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 25%;
    h1 {
        font-family: 'Shrikhand'; 
        font-size: 2em;
    }
    .heart {
        width: 6%;
        margin-right: 8px;
        background-image: url("../../css/assets/heart-regular.png");
        height: 50px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 1s ease-out;
        &:hover {
            animation: progressivColor 5s ease-in-out;
            @keyframes progressivColor {
                0% {
                    background-image: url("../../css/assets/heart-regular.png");
                    opacity: 100%;
                }
                25% {
                    background-image: url("../../css/assets/heart-regular.png");
                    opacity: 25%;
                }
                50% {
                    background-image: url("../../assets/icones/heart-solid.png");
                    opacity: 25%;
                    filter: contrast(0.2);
                }
                75% {
                    background-image: url("../../assets/icones/heart-solid.png");
                    opacity: 75%;
                }
                100% {
                    background-image: url("../../assets/icones/heart-solid.png");
                    opacity: 100%;
                }
            }
            background-image: url("../../assets/icones/heart-solid.png");
        }
    }
}

.detailsMenu {
    display: flex;
}
.details {
    width: 30%;
    margin: 0 auto;
}
/** **/

$cd-bars: #15DEA5;
$anim-dur: 4s;

.details {
    &__detailEntree, &__detailPlat, &__detailDessert {
        animation: blocsMenus 4s;
        transition-duration: $anim-dur;
    }//animation d'une durée de 4s avec les keyframes blocsMenus pour leur affichage, à 10% blocs cachés, à 100% blocs affichés
}

@keyframes blocsMenus {
    10% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}
/** **/
.details{
    &__detailEntree, &__detailPlat, &__detailDessert {
        background-color: white;
        box-shadow: 2px 2px 9px #8080808c;
        border-radius: 10px;
        width: 90%;
        display: flex;
        margin-bottom: 10px;
        transition: all 4s ease-out;
        //affichage des blocs avec une durée de 4s, un effet rapide puis décéléré. 
        &:hover {
            //effet au clic sur les plats, entrées, desserts
            .blockClic {
                transition: transform 330ms ease-in-out;
                //proriété transform, durée de transition 330ms 
                //blockClick a avant le hover une width de 0 puis une width de 20%
                //ease-in-out signifie que la transformation est lente au debut puis à la fin
                background-color: $colorTertiaire;
                width: 20%;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                .imgCheck {
                    //l'img check est l'icone de confirmation du choix du menu qui a une hauteur de 40% en fonction de son bloc parent
                    width: 40%;
                    background-image: url(../../assets/icones/check-circle-regular.svg);
                    background-repeat: no-repeat;
                    height: 40%;
                    filter: invert(1);
                    background-position: center;
                    margin: auto;
                    animation: rotateIcon 1s ease-in-out;
                }
                @keyframes rotateIcon {
                    10% {
                        transform: rotate(0.0turn);
                    }
                    100% {
                        transform: rotate(1turn);
                    }
                    
                }
            }
            .detail {
                width: 80%;
            }
        }
        h3, p:first-child  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //suite à l'hover sur les blocs, les titres et paragraphes s'ils sont coupés ne retournent pas à la ligne mais apparaissent avec ...
        }
    }
    
}
.detail {
    margin: 5px 0;
    width: 90%;
    height: 100px;
    .detailPrix {
        padding-left: 5px; 
        display: flex;
        p {
            width: auto;
            padding-left: 5px;
            margin: 0 auto 0 0;
            transition: all 1s ease-in;
//            transform: translateY(3);
//            transform: translateZ(2);
        }
        .prix {
            padding-right: 15px;
            font-weight: bold;
            margin: 0 0 0 auto;
        }
    }
}
/** BUTTON **/
button {
    font-family: 'Roboto';
    border-style: none;
    border-radius: 30px;
    padding: 20px;
    width: 20%;
    color: white;
    font-size: 16px;
    background: linear-gradient($colorSecondary, $colorPrimary);
    margin: 2% 40% 2% 40%;
    box-shadow: 3px 3px 5px #646262;
    &:hover {
        animation: changeColor 4s cubic-bezier(.49,.32,.79,.65);
        box-shadow: 3px 5px 7px #313030;
        @keyframes changeColor {
            0% {
                background: linear-gradient(#FF79DA, #9356DC);
                box-shadow: 3px 5px 7px #808080;
            }
            25% {
                background: linear-gradient(#ff7afd, #b661db);
                box-shadow: 3px 5px 7px #555454;
            }
            50% {
                background: linear-gradient(#ff7af2, #db6ddb);
                box-shadow: 3px 5px 7px #444343;
            }
            100% {
                background: linear-gradient(#ff7ae9, #ef74db);
                box-shadow: 3px 5px 7px #313030;
            }
        }
        background: $colorSecondary;
        box-shadow: 3px 5px 7px #313030;
    }
}
 /** FOOTER **/
footer {
    background-color: #3e3e3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
}
.logoBdWhite {
    width: 30%;
    height: 15%;
    padding: 20px;
    filter: invert(1);
    margin: 0 15px;
}
.actions {
    margin: 0;
    width: 20%;
}
.action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 5%;
        @include marginValue;
        filter: invert(1);
    }
    p {
        font-weight: bold;
    }
}
.informationsActions {
    @include marginValue;
    display: flex;
    flex-direction: column;
    a {
        font-family: 'Roboto';
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 5px 0;
        font-size: 19px;
    }
}
@media (min-width: 680px) and (max-width: 1024px) {
        h2 {
            font-weight: normal;
            font-family: 'Roboto';
            font-size: 1.2em;
        }
    .logo {
        width: 70%;
        margin-bottom: 20px;
        .arrow {
            width: 30px; 
            margin: 0 17%;
        }
    }
    .enTeteMenu {
        justify-content: space-between;
        width: 50%;
    }
    .imgEnTete {
        height: 300px;
        width: 50%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .detailsMenu {
        display: block;
    }
    .heart {
        height: 50px;
    }
    .details {
        width: 50%;
        h2 {
            text-align: left;
            font-size: 1em;
        }
        &__detailEntree, &__detailPlat, &__detailDessert {
        width: 100%;
        }
    }
    .divider {
        margin-left: 10px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer p {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    .logoBdWhite {
        width: 20%;
        height: 15%;
        padding: 15px;
        filter: invert(1);
        margin: auto 0;
        img {
            width: 100%;
        }
    }
    .actions {
        margin: 0;
        display: flex;
        width: 40%;
    }
    .action {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 10%;
            margin: 0 5%;
            filter: invert(1);
        }
        p {
            font-weight: bold;
        }
    }
    .informationsActions {
        margin: 0 5%;
        a {
            font-family: 'Roboto';
            color: white;
            text-decoration: none;
            font-weight: bold;
            margin: 5px 0;
            font-size: 16px;
        }
    }
}

@media (max-width: 680px) {
    /**** BODY ****/
    body {
        margin:inherit;
    }
    #menu {
        margin: 0;
    }
    h2 {
        margin: 30px 10px 5px 0;
        text-transform: uppercase;
        font-weight: normal;
        font-family: 'Roboto';
        font-size: 1.2em;
    }
    .divider {
        border-top: 2px solid #99E2D0;
        height: 3px;
        width: 10%; 
        margin: 0 10px 15px 0;
    }
    h3 {
        font-family: 'Roboto';
        padding: 7px;
        margin: 0;
        font-size: 12px;
    }

/**** HEADER**/
    .logo {
        width: 100%;
        height: 20%;
        a {
            margin-top: 10px;
            .arrow {
                margin: auto;
            }
        }
        img {
            max-width: 47%;
            margin-top: 10px;
        }
    }

/**** MENU ****/
.ensembleMenus {
    bottom: 35px;
}
/** ENTREES **/
.imgEnTete {
    margin: 0;
    transform: none;
    height: 250px;
    width: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.detailsMenu {
    display: block;
    .enTeteMenu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
//        margin-left: 10px;
        h1 {
            margin: 10px 0 0 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
        .heart {
            width: 20px;
            height: 20px;
            margin-right: 30px;
            margin-top: 10px;   
        }
    }
    .details {
        width: 90%;
        
        &__detailEntree, &__detailPlat, &__detailDessert {
            background-color: white;
            box-shadow: 2px 2px 9px #8080808c;
            border-radius: 10px;
            margin: 10px auto;
            width: 100%;
        }
    }
    .detail {
        margin: 0;
        height: auto;
        width: 100%;
        padding-bottom: 5px;
    }
    .detailPrix {
        padding-left: 5px; 
        display: flex;
        p {
            font-size: 10px;
            padding-left: 5px;
            margin-bottom: 5px;
        }
    }
    }
/** BUTTON **/
    button {
        font-family: 'Roboto';
        width: 55%;
        margin: 10% 20%;
        padding: 10px 20px;
    }
/** FOOTER **/

    footer {
        display: block;
        p {
            color: white;
            font-size: 16px;
        }
    }
    .logoBdWhite {
        padding: 15px;
        margin: 0;        
        img {
            width: 100%;
        }
    }
    .actions {
        width: auto;
        .action {
            margin: 0 20px;
            img {
                width: 3.5%;
                margin: 0 5% 0 0;
            }
            p {
                font-weight: normal;
                margin: 5px 0;
            }
        }
    }
    .informationsActions {
        margin: 0 20px;
        padding-bottom: 15px;
        p {
            font-weight: normal;
            margin: 5px 0;
        }
        a {
            font-family: 'Roboto';
            color: white;
            text-decoration: none;
            font-weight: normal;
            margin: 5px 0;
            font-size: 16px;
        }
    }
}