$colorPrimary : #9356DC;
$colorSecondary: #FF79DA;
$colorTertiaire: #99E2D0;
@mixin marginValue {
    margin: auto 5%;
}
@mixin paddingValue {
    padding: 3%;
}
/**** BODY ****/
    h2 {
        margin: 30px 10px 5px 10px;
        text-transform: uppercase;
        font-weight: normal;
        margin-right: 20%;
        font-family: 'Shrikhand';
    }
    .divider {
        border-top: 2px solid #99E2D0;
        height: 3px;
        width: 10%; 
        margin: 10px;
    }
    h3 {
        padding: 0 5px 0 10px;
        font-family: 'Shrikhand';
    }
    p {
        font-family: 'roboto';
    }

/**** HEADER**/
    .logo {
        width: 70%;
        display: flex;
        justify-content: space-around;
        .arrow {
            width: 40px;
            margin: 0 5%;
        }     
        img {
            width: auto;
        }
    }

/**** MENU ****/
    #menu {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .ensembleMenus {
        background-color: #f1f1f1;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        bottom: 25px;
        padding-bottom: 0;
    }
/** ENTREES **/
    .imgEnTete {
        height: 30%;
        width: 30%;
        margin: 10px auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .enTeteMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        width: 25%;
        h1 {
            font-family: 'Shrikhand'; 
            font-size: 2em;
            font-style: italic;
        }
        img {
            width: 6%;
            margin-right: 8px;
        }
    }
    .detailsMenu {
        display: flex;
    }
    .details {
        width: 30%;
        margin: 0 auto;
    }
/** **/

$cd-bars: #15DEA5;
$anim-dur: 4s;

.details {
    &__detailEntree, &__detailPlat, &__detailDessert {
        animation: blocsMenus 4s;
        transition-duration: $anim-dur;
    }
}

@keyframes blocsMenus {
    10% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}
/** **/
.details{
    &__detailEntree, &__detailPlat, &__detailDessert {
        background-color: white;
        box-shadow: 2px 2px 9px #8080808c;
        border-radius: 10px;
        width: 90%;
        display: flex;
        margin-bottom: 10px;
        transition: all 4s ease-out;
        transform: translateX(4);
        &:hover {
            .blockClic {
                transition: transform 330ms ease-in-out;
                background-color: $colorTertiaire;
                width: 20%;
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
                .imgCheck {
                    background-image: url(../../assets/icones/check-circle-regular.svg);
                    background-repeat: no-repeat;
                    height: 40%;
                    filter: invert(1);
                    background-position: center;
                    margin: 30%;
                }
            }
            .detail {
                width: 80%;
            }
        }
        h3, p:first-child  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
}
    .detail {
        margin: 5px 0;
        width: 90%;
        height: 100px;
        .detailPrix {
        padding-left: 5px; 
        display: flex;
            p {
                width: auto;
                padding-left: 5px;
                margin: 0 auto 0 0;
                transition: all 1s ease-in;
                transform: translateY(3);
                transform: translateZ(2);
            }
            .prix {
                padding-right: 15px;
                font-weight: bold;
                margin: 0 0 0 auto;
            }
        }
    }
/** BUTTON **/
    button {
        border-style: none;
        border-radius: 30px;
        padding: 20px;
        width: 20%;
        color: white;
        font-size: 16px;
        background-color: #9356DC;
        margin: 2% 40% 2% 40%;
        transition: all 2s ease-out;
        &:hover {
            background-color: $colorSecondary;
            box-shadow: 3px 2px 5px #808080;
        }
    }
 /** FOOTER **/
    footer {
        background-color: #3e3e3e;
        display: flex;
        justify-content: center;
        
        p {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .logoBdWhite {
        width: 30%;
        height: 15%;
        padding: 20px;
        filter: invert(1);
        margin: 0 15px;
    }

    .actions {
        margin: 0;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
            width: 5%;
            @include marginValue;
            filter: invert(1);
        }
        p {
            font-weight: bold;
        }
    }
    .informationsActions {
        @include marginValue;
        display: flex;
        flex-direction: column;
    }

@media (max-width: 1240px) {
    .logo {
        width: 70%;
        margin-bottom: 20px;
        .arrow {
            width: 30px; 
            margin: 0 17%;
        }
    }
    .enTeteMenu {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    .imgEnTete {
        height: 300px;
        width: 50%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .detailsMenu {
        display: inherit;
    }
    .details {
        width: 50%;
        h2 {
            text-align: left;
            font-size: 1em;
        }
        &__detailEntree, &__detailPlat, &__detailDessert {
        width: 100%;
        }
    }
    .divider {
        margin-left: 10px;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    footer p {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    .logoBdWhite {
        width: 20%;
        height: 15%;
        padding: 15px;
        filter: invert(1);
        margin: auto 0;
        img {
            width: 100%;
        }
    }
    .actions {
        margin: 0;
    }
    .action {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 5%;
            margin: 0 5%;
            filter: invert(1);
        }
        p {
            font-weight: bold;
        }
    }
    .informationsActions {
        margin: 0 5%;
    }
}

@media (max-width: 680px) {
    /**** BODY ****/
    h2 {
        margin: 30px 10px 5px 10px;
        text-transform: uppercase;
        font-weight: normal;
    }
    .divider {
        border-top: 2px solid #99E2D0;
        height: 3px;
        width: 10%; 
        margin: 0 10px 15px 10px;
    }
    h3 {
        padding: 7px;
        margin: 0;
        font-size: 12px;
    }

/**** HEADER**/
    .logo {
        margin: 10px auto;
        width: 100%;
        height: 20%;
        .arrow {
            margin: auto;
        }
        img {
            max-width: 47%;
        }
    }

/**** MENU ****/

/** ENTREES **/
    .imgEnTete {
        height: 250px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .enTeteMenu {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 10px;
        h1 {
            margin: 10px 0 0 0;
            font-size: 1.4em;
            font-weight: bold;
        }
        img {
            width: 8%;
            margin-right: 30px;
            margin-top: 10px;   
        }
    }
    .details {
        width: 90%;
        
        &__detailEntree, &__detailPlat, &__detailDessert {
            background-color: white;
            box-shadow: 2px 2px 9px #8080808c;
            border-radius: 10px;
            margin: 10px auto;
            width: 100%;
        }
    }
    .detail {
        margin: 0;
        height: auto;
        width: 100%;
        padding-bottom: 5px;
    }
    .detailPrix {
        padding-left: 5px; 
        display: flex;
        p {
            font-size: 9px;
            padding-left: 5px;
            margin-bottom: 5px;
        }
    }
/** BUTTON **/
    button {
        width: 55%;
        margin: 10% 20%;
        padding: 10px 20px;
    }
/** FOOTER **/

    footer {
        display: block;
        p {
            color: white;
            font-size: 16px;
        }
    }
    .logoBdWhite {
        width: 30%;
        padding: 20px 0;
    }
    .action {
        img {
            width: 3.5%;
            margin: 0 5% 0 0;
        }
        p {
            font-weight: normal;
            margin: 5px 0;
        }
    }
    .informationsActions {
        margin: 0 15px;
        padding-bottom: 15px;
        p {
            font-weight: normal;
            margin: 5px 0;
        }
    }
}