$colorPrimary : #9356DC;
$colorSecondary: #FF79DA;
$colorTertiaire: #99E2D0;

@mixin marginValue {
    margin: 0 5%;
}
@mixin paddingValue {
    padding: 3%;
}
/** spinner loader**/

$cd-bars: #15DEA5;
$anim-dur: 4s;
.load {
    width: 650px;
    height: 180px;
    display: flex;
    margin: auto;
    position: absolute;
    top: 35%;
    left: 35%;
    &__bar {
        background-image: url(./../css/assets/heart-solid.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 70%;
        width: 100%;
        margin: 0 15px;
        animation: bars 4s cubic-bezier(0, 0.52, 0.99, 0.43);
        transition-duration: $anim-dur;
    }
    visibility: hidden;
}

@keyframes bars {
    0% {
        transform: scaleY(0.8);
    }
    20% {
        transform: scaleX(0.0);
    }
    40% {
        transform: scaleY(0.8);
    }
    60% {
        transform: scaleX(0.0);
    }
    80% {
        transform: scaleY(0.8);
    }
    90% {
        transform: scaleX(0.0);
    }
    100% {
        transform: scaleX(0.8);
    }
}
/** fin spinner loader**/
p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 900;
}
/**** HEADER**/
    .logo {
        width: max-content;
        margin: 0 auto;
                
        img {
            width: auto;
        }
    }
/****fin header **/
/****CONTAINER**/
#contain {
    &__research {
        width: 100%;
        height: 100%;
        animation: opacitySection 6000ms;
        transition-duration: 5s;
    }
    &__fonctionnalities {
        width: 100%;
        height: 100%;
        animation: opacitySection 6000ms;
        transition-duration: 5s;
    }
    &__restaurants {
        width: 100%;
        height: 100%;
        animation: opacitySection 6000ms;
        transition-duration: 5s;
    }
}
@keyframes opacitySection {
    10% {
        opacity: 20%;
    }
    30% {
        opacity: 20%;
    }
    50% {
        opacity: 20%;
    }
    70% {
        opacity: 30%;
    }
    90% {
        opacity: 30%;
    }
    100% {
        opacity: 95%;
    }
}   
/****fin container**/
    /** RESEARCH **/
    #contain__research {
        background-color: #efefef;
        width: 100%;
    }
    .blockMap {
        background-color: #e0e0e0;;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
        font-weight: bold;
        width: 50%;
        height: 50%;
    }
    .imgMap {
        display: flex;
        width: 40px;
        height: 30px;
        margin: 0 20px;
        
        p {
            color: #585757;
            font-size: 20px;
        }
        img{
            width: 100%;
        }
    }
    .reserveMeal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h2 {
            width: 50%;
            text-align: center;
            margin: 20px auto;
            font-family: 'Shrikhand', sans-serif;
            font-weight: 900;
        }
        p {
            width: 70%;
            text-align: center;
            margin: 20px auto;
        }
        a {
            width: 20%;
            height: 60%;
            padding: 20px;
            margin: 15px auto;
            button.btn {
                border-style: none;
                border-radius: 30px;
                padding: 20px;
                width: 90%;
                height: 100%;
                color: white;
                font-size: 16px;
                background-color: $colorPrimary;
                transition: all 2s ease-out;
                box-shadow: 3px 2px 10px #808080;
                &:hover {
                    background-color: $colorSecondary;
                    box-shadow: 3px 2px 5px #808080;
                }
            }
        }
    }
    /**FONCTIONNALITIES **/
    #contain__fonctionnalities {
        width: 100%;
        margin: 50px auto;
    }
    .fonctionnalitiesActions {
        margin: 5px;   
    }
    .fonctionnality {
        display: flex;
        background-color: #f5f5f5;
        border-radius: 15px;
        border-style: none;
        box-shadow: 2px 2px 9px #8080808c;
        margin: 27px auto;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        height: 80px;
        cursor: pointer;
        &:hover {
            background-color: #ff79da38;
            .imgFonctionnality__One {
                background-image: url("./../assets/icones/mobile-alt-solid-purple.png");
            }
            .imgFonctionnality__Two {
                background-image: url("./../assets/icones/list-solid-purple.png");
            }
            .imgFonctionnality__Three {
                background-image: url("./../assets/icones/store-solid-purple.png");
            }
        }
        p {
            font-size: 20px;
            font-weight: 600;
            margin: 0 20px;
            opacity: 1;
        }
    }
    .numberFloat {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        float: left;
        position: relative;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 25px 25px 25px;
        background-color: $colorPrimary;
        
        p {
            color: white;
        }
    }
    .fonctionnalitiesActions {
        width: 100%;
        .imgFonctionnality__One {
            background-image: url("./../assets/icones/mobile-alt-solid.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }
        .imgFonctionnality__Two {
            background-image: url("./../assets/icones/list-solid.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }
        .imgFonctionnality__Three {
            background-image: url("./../assets/icones/store-solid.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
        }
    }
    /** RESTAURANTS **/
    #contain__restaurants {
        animation-fill-mode: both;
        width: 100%;
        margin: 50px auto 0px auto;
        background-color: #f5f5f5; 
        padding-bottom: 50px;
    }
    .allRestaurants {
        margin: auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .restaurant {
        height: 250px;
        background: white;
        border-radius: 10px;
        box-shadow: 2px 2px 9px #8080808c;
        border-style: none;
        margin: 40px;
        width: 30%;
    }
    .imgRestaurant {
        width: 100%;
        height: 65%;
        display: flex;
        
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: inherit;
            object-fit: cover;
            order: 1;
        }
    }
    .floatImage {
        position: relative;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 80px;
        top: 9px;
        width: 70px;
        height: 25px;
        background-color: $colorTertiaire;
        border-radius: 3px;
            p {
                color: #236f71;
                padding: 7px;
                font-weight: bold;
            }
    }
    .moreInfo {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        a {
            text-decoration: none;
            color: black;
            width: 65%;
            h2 {
                font-size: 1.2em;
                font-weight: bold;
                margin: 0;
                @include paddingValue;
                font-family: 'Shrikhand', sans-serif;
            }
            p {
                margin: 0 3% 3% 3%;
            }
        }
        .likeIt {
        position: relative;
        bottom: 60%;
        right: 3%;
        align-self: flex-end;
        width: 25px;
        height: 25px;
        cursor: pointer;
        .heart {
            width: 100%;
            height: 100%;
            background-image: url("./assets/heart-regular.png");
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 1s ease-out;
            &:hover {
                background-image: url("./assets/heart-solid.png");
            }
        }
    }
    }
    /** FOOTER **/
    footer {
        background-color: #3e3e3e;
        display: flex;
        justify-content: center;
        
        p {
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .logoBdWhite {
        width: 30%;
        height: 15%;
        padding: 15px;
        filter: invert(1);
        margin: auto 0;
    }

    .actions {
        margin: 0;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
            width: 5%;
            @include marginValue;
            filter: invert(1);
        }
        p {
            font-weight: bold;
        }
    }
    .informationsActions {
        @include marginValue;
        display: flex;
        flex-direction: column;
    }
@media (min-width: 680px) and (max-width: 1024px) {
    .load {
        width: 70%;
        left: 15%;
    }
    .reserveMeal {
        a {
            width: 50%;
            button.btn {
            padding: 10px;
                width: 100%
            }
        }
    }
    .fonctionnality {
        width: 70%;
        margin: 10px auto;
        p {
            margin: 0 80px;
        }
    }
//    .imgFonctionnality__One, .imgFonctionnality__Two, .imgFonctionnality__Three {
//        width: 4%;
//        margin: 0 40px;
//    }
    .allRestaurants {
        width: 100%;
    }
    .restaurant {
        width: 40%;
    }
}
@media (min-width: 300px) and (max-width: 680px) {
    .load {
        width: 90%;
        height: 100%;
        left: 7%;
    }
    .reserveMeal {
        h2 {
            width: auto;
            font-weight: bold;
            font-size: 1em;
        }
        p {
            width: 100%;
            font-size: 0.9em;
        }
        a {
            width: auto;
            padding: 10px 0;
            margin: 15px 0; 
            button.btn {
                width: 100%;
                padding: 15px;
                
            }
        }
    }
    h1 {
        text-transform: none;
        text-align: left;
        margin-top: 0;
        padding-top: 0;
        font-size: 1.2em;
        padding-top: 15%;
    }
       /**** HEADER**/
    .logo {
        margin: 10px auto;
        width: 40%;
        height: 20%;
        
        img {
            width: 100%;
        }
    }
    /** RESEARCH **/
    .blockMap {
        width: 100%;
    }
    .imgMap {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        
        p {
            color: #585757;
        }
        img{
            width: 100%;
        }
    }
    .reserveMeal {
        margin: 0 5%;
        button.btn {
            width: 60%;
        }
    }
    /**FONCTIONNALITIES **/
    #contain__fonctionnalities {
    margin: inherit;
    }
    .fonctionnality {
        width: 95%;
        p {
            margin: 0 5px;
            font-size: 15px
        }
    }
    .numberFloat {
        right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 15px 15px 15px;
    }
//    .imgFonctionnality__One, .imgFonctionnality__Two, .imgFonctionnality__Three {
//        margin: 2px;
//        width: 7%;
//        img {
//            width: 76%;
//        }
//    }
    /** RESTAURANTS **/
    .restaurant {
        margin: 0 2% 5% 2%;
        width: 100%;
        height: 100%;
        .moreInfo {
            height: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            a {
                width: 100%;
                .textuel {
                    width: 100%;
                }
            }
                .likeIt {
                    position: inherit;
                    .heart {
                        position: relative;
                        bottom: 65%;
                        right: 30%;
                    }
                }
        }
    }
    .imgRestaurant {
        height: 58%;
        img {
            width: 100%;
            height: 130px;
            object-fit: cover;
        }
    }
    /** FOOTER **/
    footer {
        display: inherit;
    }
    .logoBdWhite {
        img {
            width: 95%;
        }
    }
    .action {
        img {
            width: 3.5%;
        }
    }
    .informationsActions {
        margin: 5%;
        padding-bottom: 10px;
    }

}